@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "DM Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
    url("../assets/fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
}

/* spin button remove */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

/* swal css override */
.swal2-container {
  z-index: 99999;
}

/* For Firefox, use these selectors to minimize default styling issues */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  background-color: transparent !important;
  color: inherit !important;
}
/* default styling issues for autofill input */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* .tableContainer .MuiTableContainer-root::-webkit-scrollbar {
  width: 0;
} */